@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

article {
    border: 1px solid red;
}

ul li {
	border: 1px solid blue;
}
