<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Vue.js sample</title>
		<link rel="stylesheet" href="style.css" >
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	</head>
	
	<body>
		<h2>복수 체크박스의 ON을 배열로 만드는 예제</h2>
		<div id="app">
			<label><input type="checkbox" value="빨강" v-model="myChecks">
				적</label><br>
			<label><input type="checkbox" value="초록" v-model="myChecks">
				녹</label><br>
			<label><input type="checkbox" value="파랑" v-model="myChecks">
				청</label><br>
			선택한 색은 {{ myChecks }}
		</div>

		<script>
			new Vue({
				el: '#app',
				data: {
					myChecks:[]
				}
			})
		</script>

	</body>
</html>