<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Vue.js sample</title>
		<link rel="stylesheet" href="style.css" >
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	</head>
	
	<body>
		<h2>선택한 라디오 버튼을 표시하는 예제</h2>
		<div id="app">
			<label><input type="radio" value="빨" v-model="picked">
				적</label><br>
			<label><input type="radio" value="녹" v-model="picked">
				녹</label><br>
			<label><input type="radio" value="파" v-model="picked">
				청</label><p>
			{{ picked }} 이 선택됨
		</div>

		<script>
			new Vue({
				el: '#app',
				data: {
					picked: 'red'
				}
			})
		</script>

	</body>
</html>