@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}

.wrap {
	width: 800px;
	border: 5px solid black;
	margin: 50px auto;
}
.wrap::after {
	content: "";
	display: block;
	clear: both;
}
.wrap .left {
	width: 400px;
	height: 400px;
	background-color: lightgreen;
	float: left;
}
.wrap .right {
	width: 400px;
	height: 400px;
	background-color: lightblue;
	float: left;
}
.wrap .right .box {
	width: 100px;
	height: 100px;
	background-color: red;
}
.wrap .bottom {
	width: 800px;
	height: 100px;
	background-color: pink;
	float: left;
}

